/*City.css*/

#background
{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}
#pDisplay,#sDisplay,#dDisplay,#clientDisplay h3
{
  line-height: 0;
}

#cart
{
  font-family: 'Staatliches', cursive;
  width: 35%;
  height: 550px;
  margin-left: 63%;
  margin-right: 0;
  position: fixed;
  padding: 5px;
  top: 1.3%;
  padding-top: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
  border-radius: 5px;
  border-color: brown;
  border-style: groove;

}
#full
{
  font-family: 'Staatliches', cursive;
  font-size: 125%;
  width: 60%;
  margin-left: 0%;
  margin-right: 40%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
  border-radius: 5px;
  border-color: brown;
  border-style: groove;
}

table
{
    -webkit-column-break-inside:avoid;
    -moz-column-break-inside:avoid;
    -o-column-break-inside:avoid;
    -ms-column-break-inside:avoid;
    column-break-inside:avoid;
}
#pizza
{
  column-count: 2;
}
#sandwich
{
  column-count: 2;
}
#drinks
{
  column-count: 2;
}
#full img
{
  transition: transform 1s;
}
#full img:hover
{
  transform: scale(2.5,2.5);
}
#pizza img
{
  width: 75px;
  height: auto;
}
#sandwich img
{
  width: 75px;
  height: auto;
}
input[type="number"]
{
  width: 50px;
  height: 20px;
  font-size: 100%;
}
